
<main-card-selector [dimensions]="{ width: '25rem', height: 'auto' }">
  <section class="header">
    <h2>Registro</h2>
  </section>
  <form (ngSubmit)="registerHandler()" #registerForm="ngForm" autocomplete="off">
    <section class="main-input-container">
      <label for="name">Nombre:</label>
      <article class="second-input-container">
        <app-input
          inputId="name"
          [(inputValue)]="formData.name"
          [type]="'text'"
          required
        ></app-input>
      </article>
    </section>
    <section class="main-input-container">
      <label for="lastname">Apellido:</label>
      <article class="second-input-container">
        <app-input
          inputId="lastname"
          [(inputValue)]="formData.lastname"
          [type]="'text'"
          required
        ></app-input>
      </article>
    </section>
    <section class="main-input-container">
      <label for="email">Correo electrónico:</label>
      <article class="second-input-container">
        <app-input
          inputId="email"
          [(inputValue)]="formData.email"
          [type]="'email'"
          required
        ></app-input>
      </article>
    </section>
    <section class="main-input-container">
      <label for="password">Contraseña:</label>
      <article class="second-input-container">
        <app-input
          inputId="password"
          [(inputValue)]="formData.password"
          [type]="'password'"
          required
        ></app-input>
      </article>
    </section>
    <section class="button-container">
      <button-selector
        [label]="'Registrarse'"
        [type]="'submit'"
      ></button-selector>
    </section>
  </form>
</main-card-selector>